* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font: 14px "Poppins", sans-serif;
  color: #8f8f8f;
  background-color: #fff;
  letter-spacing: 0.1em;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  color: #0b0c11;
}

h2 {
  font: 40px;
  color: #333333;
  font-weight: bold;
}

h3 {
  font: 26px;
  color: #333333;
}

h6 {
  font-weight: lighter;
  line-height: 25px;
}

small {
  color: #5da8ef;
  font-size: 12px;
  font-weight: lighter;
}

.link {
  text-transform: uppercase;
  color: #333333;
  font-weight: bold;
  border-bottom: solid 1px #5da8ef;
  font-size: 10px;
}

.link:hover {
  text-decoration: none;
}

/* 

 */
/* footer {
  margin-top: 120px;
  padding-bottom: 60px;
  .wrapper {
    display: flex;
    flex-direction: column;
    .bar {
      margin-top: 30px;
      a {
        padding: 0 20px;
        color: #0b0c11;
      }
    }
    .social-media {
      margin-top: 40px;
      i {
        font-size: 20px;
        color: #ccc;
        padding: 0 10px;
      }
    }
  } 
} */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

.hero .wrapper .content {
  margin-bottom: 20px;
}

.hero .wrapper .carousel .carousel-inner {
  -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero .wrapper .carousel .carousel-inner .carousel-item {
  height: 100%;
}

.hero .wrapper .carousel .carousel-inner .carousel-item img {
  height: 100%;
}

.quode {
  margin-top: 150px;
}

.quode .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quode .wrapper small {
  color: #333333;
  font-weight: normal;
  padding-top: 15px;
}

.quode .wrapper .line {
  margin-top: 40px;
  border-left: 2px solid #5da8ef;
  height: 100px;
}

.media {
  margin-top: 50px;
  margin-bottom: 100px;
}

.media .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.media .wrapper .content img {
  display: none;
}

.media .wrapper .content h6 {
  padding: 20px 0 10px 0;
}

.media .wrapper .video-container {
  width: 100%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.media .wrapper video {
  width: 100%;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shop .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop .wrapper img {
  margin-bottom: 40px;
  width: 100%;
}

.article .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article .wrapper .contents span {
  font-size: 80px;
  color: #f9f9f9;
  font-weight: bolder;
  position: absolute;
  z-index: -1;
  margin-top: -60px;
}

.article .wrapper .contents .line {
  border-top: 2px solid #5da8ef;
  width: 20px;
}

.article .wrapper .contents h6 {
  margin-top: 25px;
  margin-bottom: 20px;
}

.article .wrapper .image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-bottom: 50px;
}

.article .wrapper .image img {
  width: 100%;
}

.article1 {
  margin-top: 100px;
}

.article1 .contents {
  margin-right: 50px;
}

.article2 {
  margin-top: 80px;
}

.article2 .contents {
  margin-left: 50px;
}

.subscrive {
  margin-top: 60px;
}

.subscrive .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.subscrive .wrapper .line {
  margin-bottom: 40px;
  border-left: 2px solid #5da8ef;
  height: 100px;
}

.subscrive .wrapper .form {
  margin-top: 50px;
  width: 100%;
}

.subscrive .wrapper .form input {
  padding: 20px;
  border: solid 1px #eee;
  background: #eee;
  float: left;
  width: 90%;
  height: 50px;
  color: #333333;
  font-weight: 500;
}

.subscrive .wrapper .form button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #5da8ef;
  color: white;
  font-size: 20px;
  border-style: none;
  cursor: pointer;
}

.subscrive .wrapper form button:hover {
  background: #0b7dda;
}

.subscrive .wrapper form::after {
  content: "";
  clear: both;
  display: table;
}

.contacts {
  margin-top: 80px;
}

.contacts .image {
  display: none;
}

.contacts .contentC small {
  color: #8f8f8f;
}

.contacts .contentC h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 45px;
}

.contacts .contentC .link {
  color: #0b7dda;
}

footer {
  margin-top: 120px;
  padding-bottom: 60px;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper .bar {
  margin-top: 30px;
}

footer .wrapper .bar a {
  padding: 0 20px;
  color: #0b0c11;
}

footer .wrapper .social-media {
  margin-top: 30px;
}

footer .wrapper .social-media i {
  font-size: 20px;
  color: #ccc;
  padding: 0 10px;
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 83%;
    margin: 0 auto;
  }
  .hero,
  .wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .content,
  .wrapper .content {
    position: absolute;
    z-index: 1;
  }
  .hero .carousel,
  .wrapper .carousel {
    margin-left: 400px;
  }
  .hero .carousel .carousel-inner,
  .wrapper .carousel .carousel-inner {
    -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  .hero .carousel .carousel-inner .carousel-item,
  .wrapper .carousel .carousel-inner .carousel-item {
    height: 500px;
  }
  .hero .carousel .carousel-inner .carousel-item img,
  .wrapper .carousel .carousel-inner .carousel-item img {
    height: 100%;
  }
  .quode {
    margin-top: 200px;
  }
  .quode .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quode .wrapper small {
    color: #333333;
    font-weight: normal;
    padding-top: 15px;
  }
  .quode .wrapper .line {
    margin-top: 40px;
    border-left: 2px solid #5da8ef;
    height: 100px;
  }
  .media {
    margin-bottom: 250px;
    margin-top: 100px;
  }
  .media .wrapper .content img {
    display: block;
    width: 50%;
  }
  .media .wrapper .content h6 {
    padding: 50px 0 25px 80px;
  }
  .media .wrapper .content a {
    margin-left: 80px;
  }
  .media .wrapper .video-container {
    z-index: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 40px;
  }
  .media .wrapper video {
    width: 53%;
    -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .shop .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shop .wrapper img {
    margin-bottom: 80px;
  }
  .article .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .article .wrapper .contents {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .article .wrapper .contents span {
    font-size: 80px;
    color: #f9f9f9;
    font-weight: bolder;
    position: absolute;
    z-index: -1;
    margin-top: -60px;
  }
  .article .wrapper .contents .line {
    border-top: 2px solid #5da8ef;
    width: 20px;
  }
  .article .wrapper .contents h6 {
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .article .wrapper .image {
    -webkit-box-flex: 1.2;
        -ms-flex: 1.2;
            flex: 1.2;
  }
  .article .wrapper .image img {
    width: 100%;
    height: 400px;
  }
  .article1 {
    margin-top: 150px;
  }
  .article1 .wrapper .image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .article2 {
    margin-top: 90px;
  }
  .article2 .wrapper {
    width: 70%;
  }
  .article2 .wrapper .image img {
    width: 500px;
  }
  .subscrive {
    margin-top: 100px;
  }
  .subscrive .wrapper .form {
    width: 50%;
  }
  .contacts {
    margin-top: 200px;
  }
  .contacts .wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contacts .wrapper .image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    display: block;
  }
  .contacts .wrapper .image img {
    width: 100%;
  }
  .contacts .wrapper .contentC {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 40px;
  }
  .contacts .wrapper .contentC h2 {
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 50px;
    line-height: 45px;
  }
}
/*# sourceMappingURL=style.css.map */